<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

</head>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="{% static 'stack-chart.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>

    <figure class="highcharts-figure">
        <div id="container" style="height: 80vh;"></div>
    </figure>

</body>
<script>
    
    $(document).ready(function () {
        $.ajax({
            url: "/ipl/route2/",
            type: "GET",
            dataType: "json",
            success: function (jsonResponse) {
                const team_data = {}
                const season = []
                const chartTitle = {
                    title: 'Number of matches won per team per year in IPL.',
                    yAxisTitle: 'Win Counts',
                    xAxisTitle: 'Seasons',
                }
                // Load all the options
                console.log(jsonResponse.datasets)
                const jsonData = jsonResponse.datasets;
                for (year in jsonData) {
                    season.push(year)
                    for (team in jsonData[year]) {
                        const wins = jsonData[year][team]
                        if (team in team_data) {
                            team_data[team].push(wins)
                        } else {
                            team_data[team] = [wins]
                        }
                    }
                }
                console.log(team_data)
                
                // converting to highChart format series data
                const series_data = Object.entries(team_data).map( ([teamName, winCountArray]) => {
                    return {
                        name: teamName,
                        data: winCountArray
                    }
                })
                
                makeStackChart(season, series_data, chartTitle      )
            },
        error: function (xhr, status, error) {
            console.error("Error fetching options:", error);
        }
        });
    });



</script>

</html>